<html>
<body>
 
<h1>Employees Info </h1>
<table  class="table table-hover" >
  <tr>
  <th>EmpID</th>
  <th>Name</th>
  <th>DOB</th>
  <th>Gender</th>
  <th>Salary</th>
  </tr>
  <tr *ngFor="let emp1 of emp">
  <td>{{emp1.empcode}}</td>
  <td>{{emp1.name|genderpipe:emp1.gender}}</td><!--  ng  g p pname-->
  <td>{{emp1.dateOfBirth|date:'fullDate'}}</td>
  <td>{{emp1.gender}}</td>
  <td>{{emp1.sal|currency:'INR'}}</td>
  <td> <i class="fas fa-trash"(click) =delete(emp1)></i></td>
  </tr>
  <tr *ngIf="!emp||emp.length==0">
    <td colspan="5">No employees to display  </td>
  </tr>
  </table>

  <button (click)="logout()">LOGOUT</button>
  </body>
  
  </html>